.box{
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: burlywood;
  font-size: 20px;
}

.products--grid{
 /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px ;*/
  //mobile
  display: flex;
  flex-direction: column;


  div{
    img{
      width: 100%;
      border-radius: 10px;

    }
    h2,p{
      margin: 0;
    }
  }
}
.message-error{
  background: red;
  color: whitesmoke;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}


@media screen and (min-width: 40em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px
  }
}
