.box{
  height: 200px;
  width: 200px;
  overflow: auto;
  background-color: burlywood;
  font-size: 20px;
}

h2{
  border-bottom: 1px solid #522;
  padding-bottom:  10px;
}

form{
    background: #ffcece;
    border: 1px solid #522;
    margin: 0 50px 25px ;
    padding: 10px 25px 25px;
    text-align: center;
    transform: scale(1);
    transition: 0.3s transform;
}

form:hover{
  transform: scale(1.2);

}
button{
 background: rgb(100, 5, 5, 0.5) ;
 margin: 5px;
 border: 1px solid transparent;
 padding: 5px 10px;
 cursor: pointer;
 color: aliceblue;
 transition: border 0.15s;
}

button:hover{
    border-color: #522;
}

button[disabled]{
  opacity: 0.5;
}

.products--grid{
 /* display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 15px ;*/
  //mobile
  display: flex;
  flex-direction: column;



  div{
    img{
      width: 100%;
      border-radius: 10px;
      border: 1px solid rgb(165, 165, 167);
    }
    h2,p{
      margin: 0;
    }
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);


}


.message-error{
  background: red;
  color: whitesmoke;
  font-style: normal;
  opacity: 0;
  transition: all linear .5s;
  &.invalid{
    opacity: 1;
  }
}
.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color: red ;
}
&.valid{
  border-color: green ;
}
}
@media screen and (min-width: 40em){
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;

  }
}
