<h1>Propiedades</h1>

<!-- modificar estados que se envian desde el componente -->
<button [disabled]="btnDissabled">Enviar</button>
<input type="text" [value]= "name"/>


<hr>

<h1>Hola Mundo Angular</h1>

<!-- //se puede hacer manipulaciones del string como repetirlo -->
<h2>{{'Hola Mundo'.repeat(5)}}</h2>

<!--//diferenciar lo que se hace en html y el string interpolation-->
<p>3 + 3 = {{3+3}}</p>

<!-- usando las variables desde appcomponents.ts-->
<h3>Hola, soy {{name}} y mi apellido es {{lastname}}</h3>
<!-- imagenes -->
<img src="{{img}}" alt="imagen">

<hr>


